<?xml version="1.0" ?>
<launch>

  <!-- gps receiver communication configuration -->
  <arg name="rtk_ip"              default="0.0.0.0"/>
  <arg name="rtk_port"            default="28001"/>
  <!-- Antenna frame_ids to fill messages and correct yaw direction -->
  <arg name="gps_main_frame_id"   default="gps_back"/>
  <arg name="gps_aux_frame_id"    default="gps_front"/>


  <node name="gsof_driver" pkg="trimble_gnss_driver" type="gsof_driver.py" output="screen" respawn="true">
    <param name="rtk_ip"      value="$(arg rtk_ip)"   type="string"/>
    <param name="rtk_port"    value="$(arg rtk_port)" type="int"/>
    <param name="gps_main_frame_id"   value="$(arg gps_main_frame_id)"/>
    <param name="gps_aux_frame_id"    value="$(arg gps_aux_frame_id)"/>
  </node>


</launch>
